html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1{
  color: #45a049;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
}